<div class="wrapper ">
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <h5>
                                    <strong class="text-center mx-3">Formulaire d'enrgistrement d'un adherent</strong>
                                </h5>
                                <form [formGroup]="profileForm">

                                    <div class="row">
                                        <mat-form-field class="example-chip-list" appearance="outline">
                                            <mat-label>Telephone(s)...</mat-label>
                                            <mat-chip-list #chipList aria-label="Fruit selection">
                                                <mat-chip *ngFor="let phone of phones" [selectable]="selectable"
                                                    [removable]="removable" (removed)="remove(phone)">
                                                    {{phone.number}}
                                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                </mat-chip>
                                                <input [matChipInputFor]="chipList"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    [matChipInputAddOnBlur]="addOnBlur"
                                                    (matChipInputTokenEnd)="add($event)">
                                            </mat-chip-list>
                                        </mat-form-field>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Matricule (genéré si ce champ est vide)</mat-label>
                                                    <input matInput placeholder="Matricule" [formControl]="matricule">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Nom de famille</mat-label>
                                                    <input matInput placeholder="Nom de famille"
                                                        [formControl]="nomFamille">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Prenom</mat-label>
                                                    <input matInput placeholder="Prenom" [formControl]="prenom">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Adresse</mat-label>
                                                    <input matInput placeholder="Adresse" [formControl]="adresse">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Adresse email</mat-label>
                                                    <input matInput placeholder="Adresse email"
                                                        [formControl]="emailAdress">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Sexe (M/F)</mat-label>
                                                    <input matInput placeholder="Sexe (M/F)" [formControl]="genre">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Nombre d'enfants</mat-label>
                                                    <input type="number" matInput placeholder="Nombre d'enfants"
                                                        [formControl]="nombreEnfant">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Niveau de protection</mat-label>
                                                    <input type="number" matInput placeholder="Niveau de protection"
                                                        [formControl]="protectionLevel">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Region d'origine</mat-label>
                                                    <input matInput placeholder="Region d'origine"
                                                        [formControl]="regionDorigione">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Profession</mat-label>
                                                    <input matInput placeholder="Profession" [formControl]="profession">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Profile</mat-label>
                                                    <input matInput placeholder="Profile" [formControl]="profil">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Marié? (true/false)</mat-label>
                                                    <input matInput placeholder="Marié? (true/false)"
                                                        [formControl]="statuMatrimonialMarie">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Ville</mat-label>
                                                    <input matInput placeholder="Ville" [formControl]="ville">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Date de naissance</mat-label>
                                                    <input matInput [matDatepicker]="picker1"
                                                        [formControl]="dateNaissance">
                                                    <mat-datepicker-toggle matSuffix [for]="picker1">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Date d'enregistrement</mat-label>
                                                    <input matInput [matDatepicker]="picker2"
                                                        [formControl]="createdDate">
                                                    <mat-datepicker-toggle matSuffix [for]="picker2">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker2></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Date de fin de validité</mat-label>
                                                    <input matInput [matDatepicker]="picker3"
                                                        [formControl]="datFinvalidite">
                                                    <mat-datepicker-toggle matSuffix [for]="picker3">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker3></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary pull-left mb-3" (click)="saveAdherent()">Enregistrer
                                    </button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">

        </footer>
    </div>
</div>