<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary row">
          <div class=col-9>
            <h4 class="card-title ">Liste des Utilisateurs</h4>
            <p class="card-category"> Total : {{userList.length}}</p>
          </div>
          <div class="col-3 row">
            <a href="JavaScript:Void(0)" class="col-4" (click)="loadData()">
              <i class="material-icons icone-head" title="actualiser">refresh</i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>No</th>
                <th>Matricule</th>
                <th>Noms</th>
                <th>Profil</th>
                <th>Région</th>
                <th>Telephone principal</th>
              </thead>
              <tbody>
                <tr *ngFor="let user of userList;let index = index;">
                  <td (click)="openModal(user)" class="td-hover">{{index + 1}}</td>
                  <td (click)="openModal(user)" class="td-hover">{{user.matricule}}</td>
                  <td (click)="openModal(user)" class="td-hover">
                    <div>
                      <img *ngIf="user.imageUrl!==''" src="{{user.imageUrl}}"
                        class="rounded float-left profile-image mr-2" alt="">

                      <img *ngIf="user.imageUrl===''" src="{{defaulImage}}"
                        class="rounded float-left profile-image mr-2" alt="">
                      <p>{{user.fullName}}</p>
                    </div>
                  </td>
                  <td (click)="openModal(user)" class="td-hover">{{user.profil}}</td>
                  <td (click)="openModal(user)" class="td-hover">{{user.regionDorigione}}</td>
                  <td (click)="openModal(user)" class="td-hover">{{user.phoneList[0].number}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
          <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control" mdbInput
            mdbValidate>
          <label for="defaultForm-email">Your email</label>
          <mdb-error *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
            Input invalid
          </mdb-error>
          <mdb-success *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
            Input
            valid
          </mdb-success>
        </div>

        <div class="md-form mb-4">
          <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
          <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control"
            mdbInput mdbValidate>
          <label for="defaultForm-pass">Your password</label>
          <mdb-error
            *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
            Input valid
          </mdb-success>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect>Login</button>
      </div>
    </div>
  </div>
</div>


<div mdbModal #basicModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <img src="{{currenUser.imageUrl}}" class="rounded float-left profile-image-detail" alt="">
        <h4 class="modal-title w-100 font-weight-bold">{{currenUser.fullName}} ({{currenUser.profil}})</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--USER DETAIL-->
      <app-user-detail [user]=currenUser>
      </app-user-detail>
      <!--USER DETAIL-->

      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" (click)="closeModal()" class="waves-light" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>