<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary row">
          <div class=col-9>
            <h4 class="card-title ">Liste des Adherents</h4>
            <p class="card-category"> Total : {{adherentList.length}}</p>
          </div>
          <div class="col-3 row">
            <a href="JavaScript:Void(0)" class="col-4" (click)="loadData()">
              <i class="material-icons icone-head" title="actualiser">refresh</i>
            </a>

            <!--TO ADD NEW ADHERENT-->
            <a href="JavaScript:Void(0)" class="col-4" data-toggle="modal" data-target="#basicExample"
              (click)="frame.show()" mdbWavesEffect>
              <i class="material-icons icone-head" title="ajouter un nouvel adherent">person_add</i>
            </a>
            <!-- Modal: modalCart -->

            <!-- Modal: modalCart -->
            <!--TO ADD NEW ADHERENT-->


          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>No</th>
                <th>Nom</th>
                <th>Commune</th>
                <th>Adresse</th>
                <th>Telephone principal</th>
                <th>Operations</th>
              </thead>
              <tbody>
                <tr *ngFor="let adherent of adherentList;let index = index;">
                  <td>{{index + 1}}</td>
                  <td>
                    <div>
                      <img src="{{adherent.imageUrl}}" class="rounded float-left profile-image mr-2" alt="">
                      <p>{{adherent.nomFamille}}</p>
                    </div>
                  </td>
                  <td>{{adherent.ville}}</td>
                  <td>{{adherent.adresse}}</td>
                  <td>{{adherent.phoneList[0].number}}</td>
                  <td class="row">

                    <!--TO ENABLE ADHERENT-->
                    <a class="col-2" href="JavaScript:Void(0)" *ngIf="!adherent.profilEnabled"
                      (click)="enableOrdisacleAdherent(adherent,1)">
                      <i class="fas fa-user-alt-slash icone" title="activer {{adherent.nomFamille}}"></i>
                    </a>
                    <!--TO ENABLE ADHERENT-->

                    <!--TO DESABLE ADHERENT-->
                    <a class="col-2" href="JavaScript:Void(0)" *ngIf="adherent.profilEnabled"
                      (click)="enableOrdisacleAdherent(adherent,2)">
                      <i class="fas fa-check-circle icone" title="désactiver {{adherent.nomFamille}}"></i>
                    </a>
                    <!--TO DESABLE ADHERENT-->


                    <!--TO DELETE ADHERENT-->
                    <a class="col-2" href="JavaScript:Void(0)" data-toggle="modal" data-target="#modalConfirmDelete">
                      <i class="fas fa-trash-alt icone" title="supprimer {{adherent.nomFamille}}"></i>
                    </a>
                    <!--Modal: modalConfirmDelete-->
                    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog"
                      aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                        <!--Content-->
                        <div class="modal-content text-center">
                          <!--Header-->
                          <div class="modal-header d-flex justify-content-center">
                            <p class="heading">Etes-vous sur?</p>
                          </div>
                          <!--Body-->
                          <div class="modal-body">
                            <i class="fas fa-times fa-4x animated rotateIn"></i>
                          </div>
                          <!--Footer-->
                          <div class="modal-footer flex-center justify-content-center">
                            <a (click)="deleteAdherent(adherent)" data-dismiss="modal" href="JavaScript:Void(0)"
                              class="btn  btn-outline-danger">Yes</a>
                            <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                          </div>
                        </div>
                        <!--/.Content-->
                      </div>
                    </div>
                    <!--Modal: modalConfirmDelete-->
                    <!--TO DELETE ADHERENT-->


                    <!--TO DO MORE OPERATIONS ADHERENT-->
                    <a class="col-2" href="JavaScript:Void(0)" id="navbarDropdownProfile" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-h icone" title="autre"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                      <a class="dropdown-item" href="JavaScript:Void(0)">Details</a>
                      <a class="dropdown-item" href="JavaScript:Void(0)">Operation1</a>
                      <a class="dropdown-item" href="JavaScript:Void(0)">Operation2</a>
                      <a class="dropdown-item" href="JavaScript:Void(0)">Operation3</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="JavaScript:Void(0)">Operation3</a>
                    </div>
                    <!--TO DO MORE OPERATIONS ADHERENT-->

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
          <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control" mdbInput
            mdbValidate>
          <label for="defaultForm-email">Your email</label>
          <mdb-error *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
            Input invalid
          </mdb-error>
          <mdb-success *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
            Input
            valid
          </mdb-success>
        </div>

        <div class="md-form mb-4">
          <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
          <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control"
            mdbInput mdbValidate>
          <label for="defaultForm-pass">Your password</label>
          <mdb-error
            *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
            Input valid
          </mdb-success>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect>Login</button>
      </div>
    </div>
  </div>
</div>