.icone-head {
  color: white;
  font-size: 40px;
}
.icone-head:hover {
  color: yellow;
  font-size: 50px;
}
.red {
  color: red;
}
.green {
  color: green;
}
.icone:hover{
  color: black;
  font-size: 20px;
}
