<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="adherent.imageUrl">
        <div class="logo">
            <a href="JavaScript:Void(0)" class="simple-text logo-normal" [routerLink]="['/dashboad']">
                <i class="material-icons">keyboard_backspace</i>
            </a>
        </div>
    </div>
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">Modifier les information de la Facturation</h4>
                                <p class="card-category">Id de la Facturation : {{id}}</p>
                            </div>
                            <div class="card-body">

                                <h5><strong class="text-center mx-3">Informations</strong></h5>
                                <form [formGroup]="infosForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <!-- <p class="label-input">Categorie (COTISATION_TRIMESTRIELLE,
                                                    REMBOURSEMENT_DES_PREts_SANTE)</p>
                                                <input type="text" class="form-control"
                                                    value="{{facturation.categoriePaiement}}"> -->

                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Categorie</mat-label>
                                                    <input matInput placeholder="Categorie"
                                                        [formControl]="categoriePaiement">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Date de debut de couverture</mat-label>
                                                    <input matInput [matDatepicker]="picker1"
                                                        [formControl]="dateDebutCouvertureAdherent">
                                                    <mat-datepicker-toggle matSuffix [for]="picker1">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Date de fin de couverture</mat-label>
                                                    <input matInput [matDatepicker]="picker2"
                                                        [formControl]="dateFinCouvertureAdherent">
                                                    <mat-datepicker-toggle matSuffix [for]="picker2">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker2></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Date de reglement</mat-label>
                                                    <input matInput [matDatepicker]="picker3"
                                                        [formControl]="dateReglementDuPaiement">
                                                    <mat-datepicker-toggle matSuffix [for]="picker3">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker3></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Etat de validite (true, false)</mat-label>
                                                    <input matInput placeholder="Etat de validite"
                                                        [formControl]="etatValider">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Intitulé</mat-label>
                                                    <input matInput placeholder="Intitulé" [formControl]="intitule">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Montant</mat-label>
                                                    <input type="number" matInput placeholder="Montant"
                                                        [formControl]="montant">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Nomber de personnes supplementaires</mat-label>
                                                    <input type="number" matInput
                                                        placeholder="Nomber de personnes supplementaires"
                                                        [formControl]="nbPersonneSupplement">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Niveau de cotisation</mat-label>
                                                    <input matInput placeholder="Niveau de cotisation"
                                                        [formControl]="niveauCotisation">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Numero du recu</mat-label>
                                                    <input matInput placeholder="Numero du recu"
                                                        [formControl]="numeroRecu">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Paiement a l'inscription? (true/false)</mat-label>
                                                    <input matInput placeholder="Paiement a l'inscription? (true/false)"
                                                        [formControl]="paiementEffactuerViaInscription">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline" class="field-form">
                                                    <mat-label>Status (STATUTENRETARD, STATUTPAYER)</mat-label>
                                                    <input matInput placeholder="Status (STATUTENRETARD, STATUTPAYER)"
                                                        [formControl]="statut">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary pull-left mb-3"
                                        (click)="saveModification()">Enregistrer les
                                        modifications
                                    </button>
                                    <div class="clearfix"></div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <app-adherent-facturation-profil [phone]=facturation.idAdherent>
                        </app-adherent-facturation-profil>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">

        </footer>
    </div>
</div>