<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="adherent.imageUrl">
        <div class="logo">
            <a href="JavaScript:Void(0)" class="simple-text logo-normal" [routerLink]="['/dashboad']">
                <i class="material-icons">keyboard_backspace</i>
            </a>
        </div>
    </div>
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">Modifier les information de la Facturation</h4>
                                <p class="card-category">Numero de l'adherent : {{facturation.idAdherent}}</p>
                            </div>
                            <div class="card-body">

                                <h5><strong class="text-center mx-3">Informations</strong></h5>
                                <form [formGroup]="infosForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Categorie</p>
                                                <input type="text" class="form-control"
                                                    formControlName="categoriePaiement">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Date de debut de couverture</p>
                                                <input type="text" class="form-control"
                                                    formControlName="dateDebutCouvertureAdherent">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Date de fin de couverture</p>
                                                <input type="text" class="form-control"
                                                    formControlName="dateFinCouvertureAdherent">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Date de reglement</p>
                                                <input type="text" class="form-control"
                                                    formControlName="dateReglementDuPaiement">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Etat de validite</p>
                                                <input type="text" class="form-control" formControlName="etatValider">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Intitule</p>
                                                <input type="text" class="form-control" formControlName="intitule">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Montant</p>
                                                <input type="text" class="form-control" formControlName="montant">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Nomber de personnes supplementaires</p>
                                                <input type="text" class="form-control"
                                                    formControlName="nbPersonneSupplement">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Niveau de cotisation</p>
                                                <input type="text" class="form-control"
                                                    formControlName="niveauCotisation">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Numero du recu</p>
                                                <input type="text" class="form-control" formControlName="numeroRecu">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Paiement a l'inscription?</p>
                                                <input type="text" class="form-control"
                                                    formControlName="paiementEffactuerViaInscription">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Status</p>
                                                <input type="text" class="form-control" formControlName="statut">
                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary pull-left mb-3"
                                        (click)="saveModification()">Enregistrer les
                                        modifications
                                    </button>
                                    <div class="clearfix"></div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <app-adherent-facturation-profil [phone]=facturation.idAdherent>
                        </app-adherent-facturation-profil>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">

        </footer>
    </div>
</div>