<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="adherent.imageUrl">
        <div class="logo">
            <a href="JavaScript:Void(0)" class="simple-text logo-normal" [routerLink]="['/dashboad',3]">
                <i class="material-icons">keyboard_backspace</i>
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="{{setStyle(profileOption)}}" (click)="updateUI(profileOption)">
                    <a class="nav-link" href="JavaScript:Void(0)">
                        <i class="material-icons">details</i>
                        <p>Profile</p>
                    </a>
                </li>
                <li class="{{setStyle(facturationOption)}}" (click)="updateUI(facturationOption)">
                    <a class="nav-link" href="JavaScript:Void(0)">
                        <i class="material-icons">attach_money</i>
                        <p>Facturations</p>
                    </a>
                </li>
                <li class="{{setStyle(beneficiaireOption)}}" (click)="updateUI(beneficiaireOption)">
                    <a class="nav-link" href="JavaScript:Void(0)">
                        <i class="material-icons">group_work</i>
                        <p>Beneficiaires</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <p>
                        <strong class="title-ad-detail">
                            {{adherent.nomFamille}} {{adherent.prenom}}
                        </strong>
                    </p>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8" [ngSwitch]=option>
                        <app-facturation *ngSwitchCase=facturationOption></app-facturation>
                        <app-beneficiaire *ngSwitchCase=beneficiaireOption></app-beneficiaire>
                        <div class="card" *ngSwitchCase=profileOption>
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">Modifier le profile</h4>
                                <p class="card-category">Matricule : {{adherent.matricule}}</p>
                            </div>
                            <div class="card-body">

                                <h5><strong class="text-center mx-3">Informations</strong></h5>
                                <form [formGroup]="profileForm">

                                    <!--INFO USER PHONE NUMBERS-->
                                    <div class="row mb-3 mx-3">
                                        <strong>Téléphone(s) : </strong>
                                        <div class="mx-3">
                                            <mat-chip-list *ngFor="let phone of adherent.phoneList">
                                                <mat-chip>{{phone.number}} ({{phone.operator}})</mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                    <!--INFO USER PHONE NUMBERS-->

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Nom de famille</p>
                                                <input type="text" class="form-control" [formControl]="nomFamille">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Prenom</p>
                                                <input type="text" class="form-control" [formControl]="prenom">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Adresse</p>
                                                <input type="text" class="form-control" [formControl]="adresse">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Adresse email</p>
                                                <input type="text" class="form-control" [formControl]="emailAdress">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Sexe</p>
                                                <input type="text" class="form-control" [formControl]="genre">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Nombre d'enfants</p>
                                                <input type="number" class="form-control" [formControl]="nombreEnfant">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Niveau de protection</p>
                                                <input type="number" class="form-control"
                                                    [formControl]="protectionLevel">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Region d'origine</p>
                                                <input type="text" class="form-control" [formControl]="regionDorigione">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Profession</p>
                                                <input type="text" class="form-control" [formControl]="profession">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Profile</p>
                                                <input type="text" class="form-control" [formControl]="profil">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">Marié?</p>
                                                <input type="text" class="form-control"
                                                    [formControl]="statuMatrimonialMarie">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <p class="label-input">ville</p>
                                                <input type="text" class="form-control" [formControl]="ville">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field>
                                                    <mat-label>Date de naissance</mat-label>
                                                    <input matInput [matDatepicker]="picker1"
                                                        [formControl]="dateNaissance">
                                                    <mat-datepicker-toggle matSuffix [for]="picker1">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field>
                                                    <mat-label>Date d'enregistrement</mat-label>
                                                    <input matInput [matDatepicker]="picker2"
                                                        [formControl]="createdDate">
                                                    <mat-datepicker-toggle matSuffix [for]="picker2">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker2></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field>
                                                    <mat-label>Date de fin de validité</mat-label>
                                                    <input matInput [matDatepicker]="picker3"
                                                        [formControl]="datFinvalidite">
                                                    <mat-datepicker-toggle matSuffix [for]="picker3">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker3></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary pull-left mb-3" (click)="saveUpdate()">Enregistrer
                                        les
                                        modifications
                                    </button>
                                    <div class="clearfix"></div>

                                    <!--DOC ADHERENT-->
                                    <div class="row mb-3">
                                        <h5><strong class="text-center mx-3">Liste des documents officiels</strong></h5>

                                        <div class="card-deck mx-3">

                                            <!-- Card -->
                                            <mdb-card class="mx-2">
                                                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                                                    <!-- Card img -->
                                                    <img *ngIf="adherent.cniName!==''" class="image_doc"
                                                        src="{{adherent.cniName}}" />
                                                    <img *ngIf="adherent.cniName===''" class="image_doc"
                                                        src="{{noImageDoc}}" />

                                                    <a *ngIf="adherent.cniName!==''" href="{{adherent.cniName}}">
                                                        <div class="mask"></div>
                                                    </a>
                                                </div>
                                                <!--Card content-->
                                                <mdb-card-body>
                                                    <!--Title-->
                                                    <mdb-card-title>
                                                        <h6>CNI</h6>
                                                    </mdb-card-title>
                                                </mdb-card-body>
                                            </mdb-card>
                                            <!-- Card -->

                                            <!-- Card -->
                                            <mdb-card class="mx-2">
                                                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                                                    <!-- Card img -->
                                                    <img *ngIf="adherent.urlActeMariage!==''" class="image_doc"
                                                        src="{{adherent.urlActeMariage}}" />
                                                    <img *ngIf="adherent.urlActeMariage===''" class="image_doc"
                                                        src="{{noImageDoc}}" />

                                                    <a *ngIf="adherent.urlActeMariage!==''"
                                                        href="{{adherent.urlActeMariage}}">
                                                        <div class="mask"></div>
                                                    </a>
                                                </div>
                                                <!--Card content-->
                                                <mdb-card-body>
                                                    <!--Title-->
                                                    <mdb-card-title>
                                                        <h6>Acte de mariage</h6>
                                                    </mdb-card-title>
                                                </mdb-card-body>
                                            </mdb-card>
                                            <!-- Card -->

                                            <!-- Card -->
                                            <mdb-card class="mx-2">
                                                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                                                    <!-- Card img -->
                                                    <img *ngIf="adherent.urlAutrePiecesJustificatif!==''"
                                                        class="image_doc"
                                                        src="{{adherent.urlAutrePiecesJustificatif}}" />
                                                    <img *ngIf="adherent.urlAutrePiecesJustificatif===''"
                                                        class="image_doc" src="{{noImageDoc}}" />

                                                    <a *ngIf="adherent.urlAutrePiecesJustificatif!==''"
                                                        href="{{adherent.urlAutrePiecesJustificatif}}">
                                                        <div class="mask"></div>
                                                    </a>
                                                </div>
                                                <!--Card content-->
                                                <mdb-card-body>
                                                    <!--Title-->
                                                    <mdb-card-title>
                                                        <h6>Autre pièce</h6>
                                                    </mdb-card-title>
                                                </mdb-card-body>
                                            </mdb-card>
                                            <!-- Card -->

                                            <!-- Card -->
                                            <mdb-card class="mx-2">
                                                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                                                    <!-- Card img -->
                                                    <img *ngIf="adherent.urlDocOficiel!==''" class="image_doc"
                                                        src="{{adherent.urlDocOficiel}}" />
                                                    <img *ngIf="adherent.urlDocOficiel===''" class="image_doc"
                                                        src="{{noImageDoc}}" />
                                                    <a>
                                                        <div class="mask"></div>
                                                    </a>
                                                </div>
                                                <!--Card content-->
                                                <mdb-card-body>
                                                    <!--Title-->
                                                    <mdb-card-title>
                                                        <h6>Document officiel</h6>
                                                    </mdb-card-title>
                                                </mdb-card-body>
                                            </mdb-card>
                                            <!-- Card -->

                                        </div>
                                    </div>
                                    <!--DOC ADHERENT-->
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <img *ngIf="adherent.imageUrl!==''" class="img" src="{{adherent.imageUrl}}" />
                                <img *ngIf="adherent.imageUrl===''" class="img" src="{{defaulImage}}" />
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-gray">{{adherent.profil}}</h6>
                                <h4 class="card-title">{{adherent.nomFamille}}</h4>
                                <p class="card-description">{{generateDescription()}}</p>

                                <a *ngIf="adherent.profilEnabled" href="JavaScript:Void(0)"
                                    class="btn btn-danger btn-round" (click)="enableOrdisacleAdherent(adherent,2)">
                                    Desactiver
                                </a>
                                <a *ngIf="!adherent.profilEnabled" href="JavaScript:Void(0)"
                                    class="btn btn-primary btn-round" (click)="enableOrdisacleAdherent(adherent,1)">
                                    Activer
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">

        </footer>
    </div>
</div>